#drop li{
    list-style: none;
    margin: 1% 3%;
    background-color:coral;
    line-height: 150%;
}
#drop li a{
    text-decoration:none;
    color:#0029fffa;
    font-weight: bold;
}
#drop ul{
    display: none;
}
div{
    width:10%;
}
#drop li ul{
    background-color:aquamarine;
    padding: 0%;
    
}
#drop ul li{
    background-color: aquamarine;
}